.chosen-container.chosen-container-single .chosen-single {
  color: #EF5B25 !important; }

.chosen-container.chosen-container-single .chosen-drop {
  background-color: #FFFFFF !important;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  .chosen-container.chosen-container-single .chosen-drop .chosen-search .chosen-search-input {
    color: #EF5B25 !important; }

.chosen-container.chosen-container-single .chosen-results {
  color: #808080 !important; }

.dropdown-container .chosen-container.chosen-container-single .chosen-single {
  color: #EF5B25 !important; }

.dropdown-container .chosen-container.chosen-container-single .chosen-drop {
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  .dropdown-container .chosen-container.chosen-container-single .chosen-drop .chosen-search .chosen-search-input {
    color: #EF5B25 !important; }

.dropdown-container .chosen-container.chosen-container-single .chosen-results {
  font-weight: 600; }

.dropdown-container select {
  color: #EF5B25 !important; }

#mobile-controls {
  background: #FFFFFF !important;
  color: #EF5B25 !important; }
  #mobile-controls .dropdown-menu {
    background: #FFFFFF !important;
    border: 1px solid #FFFFFF;
    color: #EF5B25 !important; }
    #mobile-controls .dropdown-menu .dropdown-menu-item {
      color: #EF5B25 !important; }
      #mobile-controls .dropdown-menu .dropdown-menu-item a {
        color: #EF5B25 !important; }
  #mobile-controls .btn:hover, #mobile-controls .btn:active {
    color: #EF5B25 !important; }
  #mobile-controls .pm-icon.pm-dropdown-icon svg path {
    fill: #EF5B25; }
